

header#logo p#brandname {
	color: black;
	font-weight: 400;
}

div#optionsWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 50vh;
	box-sizing: border-box;
	padding: 20px;
	transition: all 0.5s ease-out;
/*	animation: wrapper_onOpen 2s forwards 0.5s;*/
	/*background-color: blueviolet;*/

	/*reduce to
	width: 222px;
	height: 225px;*/
	z-index: 5;
}

div#optionsWrapper::before {
	content: '';
	width: 220px;
	height: 220px;
	border: 2px solid black;
	border-right: none;
	border-bottom: none;
	top: 0px;
	left: 0px;
	position: absolute;
}

div#optionsWrapper::after {
	content: '';
	width: 220px;
	height: 220px;
	border: 2px solid black;
	border-top: none;
	border-left: none;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

div#optionsWrapper div.opt {
	position: absolute;
	padding: 30px;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

div#optionsWrapper div.opt:hover {
	background-color: black;
    color: white;
}

div#optionsWrapper div.opt h2 {
	font-family: Avenir;
	font-weight: 700;
	font-size: 1.25em;
	letter-spacing: 8px;
	/*text-align: center;*/
	margin-bottom: 5px;
}

div#optionsWrapper div.opt span {
	font-family: Avenir;
	font-size: 0.7em;
	letter-spacing: 10px;
	/*text-align: center;*/
	color: var(--text-gray);
	display: inline-block;
	width: 100%;
}

	div#optionsWrapper div.opt:first-child {
		top: 0;
		left: 0;
	}

	div#optionsWrapper div.opt:nth-child(2) {
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: center;

    	/*maxWidth 440px
    	width: 110%;*/
	}

	div#optionsWrapper div.opt:nth-child(3) {
		bottom: 0;
		right: 0;
		text-align: right;
		z-index: 1;
	}

div#optionsWrapper span#successfulSubmit {
	display: none;
	opacity: 0;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir';
    font-size: 1.5em;
    text-align: center;
    transition: all 0.3s ease-out;
}

div#optionsWrapper button#goToOptions {
	font-family: 'Avenir';
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s ease-out;
	background-color: transparent;
	border: none;
	position: absolute;
	top: -40px;
    left: 0px;

    display: none;
    opacity: 0;
    z-index: 3;
    padding: 11px;
}

div#optionsWrapper button#nextSlide {
	font-family: 'Avenir';
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s ease-out;
	background-color: transparent;
	border: none;
	position: absolute;
    bottom: -40px;
    right: 0px;
    padding: 11px;
    display: none;
    opacity: 0;
    z-index: 3;
}

div#optionsWrapper button:hover {
	background-color: black !important;
	color: white;
}


div#testimonials {
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    width: 40%;
    height: 45%;
    opacity: 0;
    transition: all 0.3s ease-out;
    padding: 11px;
}

div#testimonials ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

div#testimonials ul li {
	display: none;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 30px;
	background-size: cover;
	position: relative;
	transition: all 0.5s ease-out;
	left: 0px;
	opacity: 0;
	/*transition: left 0.5s ease-out;*/
}

	div#testimonials ul li:first-child {
		display: flex;
		opacity: 1;
		background-position: 75% 25%;
	}

	div#testimonials ul li:first-child::before {
		content: "";
		background-image: url('../resources/gallery/1.jpg');
		background-position: 75% 25%;
		background-size: cover;
	  	position: absolute;
	  	top: 0; left: 0;
	  	width: 100%; 
	  	height: 100%;
	  	opacity: 0.3;
	}

	div#testimonials ul li:nth-child(2)::before {
		background-image: ;
	}

div#testimonials ul li h1 {
	font-family: Avenir;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 8px;
    margin-bottom: -5px;
}

div#testimonials ul li h2 {
	font-family: Avenir;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 8px;
    margin-bottom: 5px;
}

div#testimonials ul li p {
	font-family: Avenir;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 5px;
    line-height: 24px;
}


div#socials {
	display: none;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	border:  2px solid;
/*	width: 50%;*/
	width: 51.7%;
	transition: all 0.5s ease-out;
	z-index: 10;
}

div#socials.scale {
	transform: translate(-50%, -50%) scale(1);
}

div#socials ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#socials ul li {
	display: inline-block;
	width: 50%;
}

	div#socials ul li:first-child {}

	div#socials ul li:last-child {}

div#socials ul li:hover {}

div#socials ul li a {
	display: inline-block;
	width: 100%;
/*	padding: 20px 0;*/
	padding: 99px 0;
	text-align: center;
	text-decoration: none;

	font-family: Avenir;
	font-weight: 500;
	font-size: 1.25em;
	color: black;
	letter-spacing: 5px;

	transition: all 0.3s ease-out;
}

div#socials ul li a:active {
	text-decoration: none;
	color: var(--text-gray);
}

div#socials ul li a:visited {
	text-decoration: none;
	color: var(--text-gray);
}

div#socials ul li a:hover {
	background-color: black;
	color: white;
}





div#emailScotty {
	position: absolute;
	top: 52%;
	left: 49%;
	transform: translate(-50%, -50%) scale(0.5);
	width: 60%;
	transition: all 0.3s ease-out;
	display: none;
	opacity: 0;
	z-index: 10;
}

div#emailScotty form {
	margin: 0;
	padding: 0;
}

div#emailScotty form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

div#emailScotty form fieldset input {
	display: inline-block;
	width: 100%;
	border: none;
	border-radius: 0;
	font-family: Open Sans;
	font-size: 0.9em;
	letter-spacing: 4px;
	color: var(--text-gray);
	padding: 5px;
}

div#emailScotty form fieldset input:focus,
div#emailScotty form fieldset input:focus-visible {
	outline: none;
	border-bottom-color: var(--text-gray);
}

	div#emailScotty form fieldset input:first-child {
		border-bottom: 2px solid black;
	}

	div#emailScotty form fieldset input:nth-child(2) {
		border-bottom: 2px solid black;
		margin: 30px 0 10px;
	}

	div#emailScotty form fieldset input:nth-child(3) {
		border-bottom: 2px solid black;
		margin: 20px 0 20px;
	}

div#emailScotty form fieldset textarea {
	display: inline-block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid black;
	margin: 10px 0 0;

	font-family: Avenir;
	font-size: 1em;
	color: var(--text-gray);
	padding: 5px;
} 

div#emailScotty form fieldset textarea:focus,
div#emailScotty form fieldset textarea:focus-visible {
	outline: none;
	border-color: var(--text-gray);
}

div#emailScotty button#submitForm {
	position: relative;
	bottom: -140px;
	background-color: transparent;
	border: none;
	left: 50%;
	transform: translateX(-50%) scale(0.5);

	font-family: Avenir;
	font-size: 2.5em;
	letter-spacing: 12px;
	padding: 0;
	
	opacity: 0.1;
	transition: all 0.3s ease-out;
}

div#emailScotty input,
div#emailScotty textarea {
	transition: all 0.3s ease-out;	
}

div#emailScotty input:focus-visible,
div#emailScotty textarea:focus-visible {
	outline: none;
	background-color: rgba(115, 115, 115, 0.2);
}

div#emailScotty button#submitForm:hover {
	/*add glitch effect*/
}

div#emailScotty button#backToOptions {
	font-family: 'Avenir';
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -120px;
    left: 0px;
    z-index: 10;
    padding: 11px;

    display: none;
    opacity: 0;

}


@media screen and (max-width: 440px) {
	div#optionsWrapper {
		width: 99%;
	}

	div#optionsWrapper div.opt:nth-child(2) {
		width: 60%;
		text-align: center;
	}

	div#optionsWrapper div.opt:last-child {
		text-align: right;
	}

	div#optionsWrapper div.opt h2 {
		font-size: 1.25em;
	}

	div#testimonials {
    	width: 92%;
    	height: 44%; 
	}

	div#socials {
		width: 98%;
	}

	div#emailScotty {
		top: 50%;
		width: 90%;
	}

	div#emailScotty button#submitForm {
		font-size: 2em;
		bottom: -150px;
		margin-left: 15px;
	}
}

@media screen and (min-width: 1024px) {
	div#emailScotty {
		width: 45%;
	}
}