
/*
	F O N T S
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Book.otf");
	font-weight: 500;
}

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Italic.ttf");
	font-style: italic;
}

/*
	S I T E  T H E M E  C O L O R S
*/
:root {
	--main-color-green: #3BDACA;
	--text-gray: #6D6D6D;
	--disabled: #6d6d6d4d;
	--soft-black: #1F1F1F; /* to be used in gallery section */
}

*::-webkit-scrollbar {
  display: none;
}


body {
	margin: 0;
	overscroll-behavior-y: contain;
	position: relative;
	height: 100vh;
	width: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

body#landing, body#gallery, body#services {
	background-color: black;
}

body#about {
	position: relative;
	overflow-y: hidden;
}



button {
	color: black;
}



div#overlay {
	display: block;
	position: absolute;
	top: 50%;
 	left: 50%;
  transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: black;
	opacity: 1;

	transition: all ease 1s;
}

/*
	H E A D E R
*/

header#gallery  {
	color: white;
}

header#logo {
	position: relative;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
 	align-content: center;
 	transition: all 0.2s ease;*/

/* 	margin: -18px 0 20px;*/
/* 	padding-top: 16px;*/
	margin-top: -30px;
 	z-index: 10;
}

header#logo a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
 	align-content: center;
 	transition: all 0.2s ease;
/* 	margin: -18px auto 20px;*/
	margin: 10px auto;
 	padding-top: 16px;
 	transform: scale(0.85);
 	text-decoration: none;
 	width: fit-content;

}

header#logo a:hover,
header#logo a:focus {
	transform: scale(1);
}

header#logo a img {
	width: 64px;
	margin: 10px 5px;
}

header#logo a p#brandname {
	font-family: "Open Sans";
	font-size: 1em;
	font-weight: 300;
	text-align: left;
	letter-spacing: 6px;
	line-height: 22px;
	color: black;
	text-transform: lowercase;
	font-style: unset;

	clip-path: none;
	max-width: 325px;
}


	header span {
/*	div#comingSoon span {*/
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		font-family: 'Avenir';
		font-style: italic;    
		font-size: 1.25em;
		text-align: center;
		letter-spacing: 8px;
		word-spacing: -5px;
		text-transform: uppercase;
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
					 -0.025em -.05em 0 rgba(0, 255, 0, .75),
					 0.025em .05em 0 rgba(0, 0, 255, .75);
		margin: 30px auto 20px;
		width:  100%;
		padding-bottom: 10px;
		animation: glitch 1.25s infinite;
	}

	header span:nth-child(1) {
		animation: glitch 1s infinite;
		color: rgba(65,105,225,1);
		clip-path: polygon(0 0, 100% 0, 100% 40%, 0 25%);
		transform: translate(-0.07em, -0.025em);
		left: 0%;
		opacity: 0.8;
		z-index: 2;
	}

	header span:last-child {
		animation: glitch 0.8s infinite;
		color: rgba(0, 255, 0, .75);
		clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0 100%);
		transform: translate(0.07em, 0.025em);
		left: 0%;
		opacity: 0.8;
	}


	@keyframes glitch {
			0% {text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -.05em 0 rgba(0, 255, 0, .75),
						 0.025em .05em 0 rgba(0, 0, 255, .75)}

			24% {text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -.05em 0 rgba(0, 255, 0, .75),
						 0.025em .05em 0 rgba(0, 0, 255, .75)}

			25% {text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75),
						 0.025em .025em 0 rgba(0, 255, 0, .75),
						 -0.05em -.05em 0 rgba(0, 0, 255, .75)}

			75% {text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, .75),
						 0.05em .0em 0 rgba(0, 255, 0, .75),
						 0.025em -.05em 0 rgba(0, 0, 255, .75)}

			76% {text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, .75),
						 0.05em .0em 0 rgba(0, 255, 0, .75),
						 0.025em -.05em 0 rgba(0, 0, 255, .75)}

			99% {text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -0.025em 0 rgba(0, 255, 0, .75),
						 -0.025em -0.05em 0 rgba(0, 0, 255, .75)}
			100% {text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -0.025em 0 rgba(0, 255, 0, .75),
						 -0.025em -0.05em 0 rgba(0, 0, 255, .75)}
		}


.glitch:hover {
	animation: glitch 1.25s infinite;
}

.glitch-constant {
	animation: glitch 1.5s infinite;;
}

.glitch span {
		clip-path: polygon(0 0, 100% 0, 100% 70%, 0 60%);
		transform: translate(-0.07em, -0.025em);
		left: 0%;
		opacity: 0;
		z-index: 2;
}

.glitch:hover span {
		opacity: 0.8;
}






button.default,
a.default {
		font-family: 'Avenir';
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

button.default:hover {
	letter-spacing: 10px;
}




/* 
		As of 03. 06. 2023
		All proceeding code outdated
*/


/*
	N A V I G A T I O N
*/


nav {
	display: none;
	width: 100%;
	height: 100dvh;
	position: fixed;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	z-index: 10;
	transition: all 0.5s ease-in-out;
	opacity: 1;
	background-color: white;
}

nav div#mainWrapper {
	display: flex;
	justify-content: center;
	position: relative;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

nav div#logoWrapper {
	width: fit-content;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
 	align-content: center;
 	left: -5%;

 	animation: loadIn_fromLeft 1s ease-in-out forwards;
}

nav div#logoWrapper img {
	width: 192px;
	margin: 10px;
}

nav div#logoWrapper p {
	font-family: "Open Sans";
	font-size: 1em;
	font-weight: 300;
	text-align: right;
	letter-spacing: 6px;
	line-height: 36px;
	color: black;
	text-transform: lowercase;
	font-style: unset;

	clip-path: none;
	max-width: 325px;
	}

nav ul#menu {
	display: block;
	width: fit-content;
	position: relative;
 	opacity: 1;

 	top: unset;
  left: -2%;
  transform: unset;

 	margin: 0;
	padding-top: 50px;
	list-style-type: none;

	animation: loadIn_fromRight 1s ease-in-out forwards;
}

nav ul#menu li {
	display: block;
	text-align: left;
	margin: 30px 0;
}

nav ul#menu li a {
	position: relative;

	font-family: 'Avenir';
  font-weight: 500;
	letter-spacing: 10px;
	color: black;
	font-size: 2.5em;
	text-decoration: none;
 }

nav ul#menu li button {
	background-color: transparent;
	border: none;

	font-family: "Open Sans";
	font-weight: 500;
	font-size: 1.25em;
	letter-spacing: 10px;

	transition: all 0.3s ease-in;
}

nav ul#menu li button:hover {
	letter-spacing: 15px;
}

nav div#devTag {
	position: absolute;
	bottom: 5%;
 	left: 50%;
 	transform: translateX(-50%);
	margin: 0 auto;
	opacity: 0;

	animation: fadeIn 0.5s ease-in-out 1s forwards;
}

nav div#devTag span {
	display: block;

	font-family: "Open Sans";
	font-size: 1em;
	font-weight: 300;
	text-align: left;
	letter-spacing: 6px;
	line-height: 28px;
	color: #6d6d6d6b;

	max-width: 325px;
}


@keyframes loadIn_fromRight {
	0% {
		left: 8%;
		opacity: 0;
	}

	100% {
		left: -2%;
		opacity: 1;
	}
}

@keyframes loadIn_fromLeft {
	0% {
		left: -13%;
		opacity: 0;
	}

	100% {
		left: -5%;
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}









div#toggleWrapper {
	width: fit-content;
	height: 100dvh;
	position: absolute;
	top: 0;
	z-index: 5;
	background-color: white;
	cursor: pointer;
}

div#toggleWrapper.B {
	width: fit-content;
	height: 100dvh;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: black;
}

div#toggleWrapper ul#toggle {
	width: fit-content;
	margin: 0 20px;
	padding: 0;
	list-style-type: none;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}

div#toggleWrapper ul#toggle:hover {
	transform: translateY(-50%) scale(1.25);
}

div#toggleWrapper ul#toggle li {
	display: block;
	margin: 10px 0;
}

div#toggleWrapper ul#toggle li img {}

@keyframes toggle {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-50%) scale(0.5);
	}
}

@keyframes toggleM {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(-50%) scale(0.5);
	}
}

ul.toggle {
	animation: toggle 0.3s ease-in-out forwards;
}





@media screen and (max-width: 440px) {



	nav div#mainWrapper {
		flex-direction: column;
		top: 40%;
	}

	nav div#logoWrapper {
		flex-direction: column-reverse;
		margin-left: 50px;
		margin-bottom: 40px;
	}

	nav div#logoWrapper img {
		width: 100px;
	}

	nav div#logoWrapper p {
		font-size: 0.6em;
		line-height: 20px;
		max-width: 275px;
		text-align: left;
	}


	nav ul#menu {
/*		margin-left: 40px;*/
		margin-top: -70px;
	}

	nav ul#menu li a {
    color: black;
    font-size: 2em;
  }



  nav div#devTag {
  	left: unset;
  	transform: unset;
  	margin-left: 40px;
  }

  nav div#devTag span {
  	font-size: 0.6em;
  }


  div#toggleWrapper,
  div#toggleWrapper.B { 
  	position: fixed;
  	width: 100%;
  	height: fit-content;
  	top: unset;
  	bottom: 0%;
  }

  ul.toggle {
		animation: toggleM 0.3s ease-in-out forwards;
	}	

  div#toggleWrapper ul#toggle {
  	top: unset;
  	left: 50%;
  	transform: translateX(-50%);
  	margin: 15px 0;
  }

  div#toggleWrapper ul#toggle:hover {
    transform: translateX(-50%) scale(1.25);
}

  div#toggleWrapper ul#toggle li {
  	display: inline-block;
  	margin: 0 1px;
  	transform: scale(0.8);
  }
}