
/*
	F O N T S
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Book.otf");
	font-weight: 500;
}

@font-face {
	font-family: "Avenir";
	src: url("../resources/fonts/AvenirLTStd-Italic.ttf");
	font-style: italic;
}

/*
	S I T E  T H E M E  C O L O R S
*/
:root {
	--main-color-green: #3BDACA;
	--text-gray: #6D6D6D;
	--disabled: #6d6d6d4d;
	--soft-black: #1F1F1F; /* to be used in gallery section */
}

*::-webkit-scrollbar {
  display: none;
}


body {
	margin: 0;
	overscroll-behavior-y: contain;
	position: relative;
	height: 100vh;
	width: 100%;
}

body#landing, body#gallery, body#services {
	background-color: black;
}



button {
	color: black;
}



div#overlay {
	display: block;
	position: absolute;
	top: 50%;
 	left: 50%;
  transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: black;
	opacity: 1;

	transition: all ease 1s;
}

/*
	H E A D E R
*/

header#gallery  {
	color: white;
}

header#logo {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
 	align-content: center;
 	transition: all 0.2s ease;
 	margin: -18px 0 20px;
 	padding-top: 16px;
 	z-index: 10;
}

header#logo:hover {
	transform: scale(1.15);
}

header#logo img {
	width: 64px;
	margin: 10px 5px;
}

header#logo p#brandname {
	font-family: "Open Sans";
	font-size: 1em;
	font-weight: 300;
	text-align: left;
	letter-spacing: 6px;
	line-height: 22px;
	color: white;
	text-transform: lowercase;
	font-style: unset;

	clip-path: none;
	max-width: 325px;
}


	header span {
/*	div#comingSoon span {*/
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		font-family: 'Avenir';
		font-style: italic;    
		font-size: 1.25em;
		text-align: center;
		letter-spacing: 8px;
		word-spacing: -5px;
		text-transform: uppercase;
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
					 -0.025em -.05em 0 rgba(0, 255, 0, .75),
					 0.025em .05em 0 rgba(0, 0, 255, .75);
		margin: 30px auto 20px;
		width:  100%;
		padding-bottom: 10px;
		animation: glitch 1.25s infinite;
	}

	header span:nth-child(1) {
		animation: glitch 1s infinite;
		color: rgba(65,105,225,1);
		clip-path: polygon(0 0, 100% 0, 100% 40%, 0 25%);
		transform: translate(-0.07em, -0.025em);
		left: 0%;
		opacity: 0.8;
		z-index: 2;
	}

	header span:last-child {
		animation: glitch 0.8s infinite;
		color: rgba(0, 255, 0, .75);
		clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0 100%);
		transform: translate(0.07em, 0.025em);
		left: 0%;
		opacity: 0.8;
	}


	@keyframes glitch {
			0% {text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -.05em 0 rgba(0, 255, 0, .75),
						 0.025em .05em 0 rgba(0, 0, 255, .75)}

			24% {text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -.05em 0 rgba(0, 255, 0, .75),
						 0.025em .05em 0 rgba(0, 0, 255, .75)}

			25% {text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75),
						 0.025em .025em 0 rgba(0, 255, 0, .75),
						 -0.05em -.05em 0 rgba(0, 0, 255, .75)}

			75% {text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, .75),
						 0.05em .0em 0 rgba(0, 255, 0, .75),
						 0.025em -.05em 0 rgba(0, 0, 255, .75)}

			76% {text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, .75),
						 0.05em .0em 0 rgba(0, 255, 0, .75),
						 0.025em -.05em 0 rgba(0, 0, 255, .75)}

			99% {text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -0.025em 0 rgba(0, 255, 0, .75),
						 -0.025em -0.05em 0 rgba(0, 0, 255, .75)}
			100% {text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75),
						 -0.025em -0.025em 0 rgba(0, 255, 0, .75),
						 -0.025em -0.05em 0 rgba(0, 0, 255, .75)}
		}


.glitch:hover {
	animation: glitch 1.25s infinite;
}

.glitch-constant {
	animation: glitch 1.5s infinite;;
}

.glitch span {
		clip-path: polygon(0 0, 100% 0, 100% 70%, 0 60%);
		transform: translate(-0.07em, -0.025em);
		left: 0%;
		opacity: 0;
		z-index: 2;
}

.glitch:hover span {
		opacity: 0.8;
}






button.default,
a.default {
		font-family: 'Avenir';
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

button.default:hover {
	letter-spacing: 10px;
}




/* 
		As of 03. 06. 2023
		All proceeding code outdated
*/


/*
	N A V I G A T I O N
*/
nav#main {
	display: none; 
	opacity: 0;
	/* At site launch, is not present*/
	
	/*position: absolute;*/
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 30px;
	/*width: 2rem;*/
	padding: 0;
	z-index: 20;
	transition: all 1s ease;
}

	nav.menu-active span.corner:nth-child(2) {
		transform: rotate(180deg) scale(1.5);
	}

nav#main span.corner {
	display: block;
	position: relative;
	margin: 20px 0;
	width: 1.5em;
	height: 1.5em;
	border: 3px solid black;
	transition: all 1s ease;

}

	nav#main span.menu-active {
		border-color: black !important;
		transform: scale(1.5);
    	margin: 45px 0;
    	transition: all 1s ease;
    	/*color: black;*/
	}

		nav#main span:nth-child(2).menu-active {
			transform: rotate(180deg) scale(1.5);
		}

	nav#main span.corner:first-child {
		border-right: none;
	}

		nav#main span.corner:first-child span.indicator {
			right: -35px;
		}

			nav#main:hover > span.corner:first-child span.indicator {
				opacity: 1;
				right: -15px;
			}

	nav#main span.corner:nth-child(2) {
		border-left: none;
	}

		nav#main span.corner:nth-child(2) span.indicator {
			left: -35px;
		}

			nav#main:hover > span.corner:nth-child(2) span.indicator {
				opacity: 1;
				left: -15px;
			}

	nav#main span.corner:nth-child(3) {
		border-right: none;
	}

		nav#main span.corner:nth-child(3) span.indicator {
			right: -35px;
		}

			nav#main:hover > span.corner:nth-child(3) span.indicator {
				opacity: 1;
				right: -15px;
			}


nav#main span.corner span.indicator {
	display: block;
    position: relative;
    width: 1.5em;
    border: 1px solid var(--main-color-green);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    opacity: 0;
}



	nav#main span.corner span#active {
		display: block;
	}







/*div#navPage {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	display: none;
	
	background-color: white;
	overflow-x: hidden;
	opacity: 0;
	transition: all 0.75s ease;
	z-index: 15;
}

	div.menu-open {
		display: block;
		opacity: 1;
	}

	div.menu-open ul li button span {
		opacity: 1 !important;
	}

div#navPage ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

div#navPage ul li {
	margin: 10px 0 40px;
	display: block;
	transition: all 0.5s ease;
	opacity: 0;
}

	div#navPage ul li.appear {
		margin-left: 60px;
		opacity: 1;
	}

	div#navPage ul li:first-child {
		margin-left: 60px;
	}

div#navPage ul li button {
	display: block;
	position: relative;
	font-family: 'Avenir';
	font-weight: 500;    
	font-size: 1.75em;
	text-align: right;
	letter-spacing: 20px;
	color: black;

	border: none;
    background-color: transparent;
    transition: all 0.75s ease;
}

	div#navPage ul li button span {
		letter-spacing: 40px;
		color: rgba(54, 54, 54, .10);
		font-size: 2.25em;
		position: absolute;
		left: 4%;
		bottom: -35px;
		opacity: 0;
		text-shadow: none;

		animation-name: opacity;
		animation-delay: 2.5s;
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
		animation-timing-function: ease;
	}

	div#navPage ul li button span:hover {
		text-shadow: none;
	}

		@keyframes opacity {
			0% {opacity: 0;}
			100%{opacity: 1;}
		}

	div#navPage ul li:first-child {
		
	}

	div#navPage ul li:first-child button {
		font-size: 1em;
		text-align: center;
		margin-bottom: -20px;
		letter-spacing: 8px;
	}

	div#navPage ul li button:hover {
		color:  var(--disabled);
		text-shadow: 0.07em 0 0 rgb(255 0 0 / 75%), 
					-0.03em -0.05em 0 rgb(0 255 0 / 75%), 
					0.025em 0.05em 0.2em rgb(0 0 255 / 75%);
	}

	div#navPage ul li button.active {
		color: var(--disabled);
	}


		div#navPage ul li button.active:hover {
			text-shadow: none;
		}




@media only screen and (max-width: 1024px) {

	header h1 {
		font-size: 1.25em;
		letter-spacing: 4px;
		margin-top: 20px;
	}

	nav#main {
		top: auto;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 8%;
		transition: all 1s ease;
	}

		nav.menu-active {
			background-color: transparent !important;
		}

	nav#main div.cornerWrapper {

    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%) scale(0.65);
	}

	nav#main span.corner {
		display: inline-block;
		transform: rotate(270deg);
		margin: 0 20px;
		border-width: 4px;
	}

		nav#main span.menu-active {
			transform: rotate(360deg) scale(1.5);
			border-color: black;
		}

	nav.menu-active span.corner:nth-child(2) {}

	div#navPage ul {

	}

	div#navPage ul li:first-child {
		transition-delay: 1.5s;
		transition-property: opacity;
		transition-timing-function: ease;
  		transition-duration: 1s;

	}

	div#navPage ul li {
		margin-left: 60px;
	}

		div#navPage ul li button {
			font-size: 1.25em;
			letter-spacing: 14px;
		}

		div#navPage ul li button span {
			font-size: 1.5em;
			font-weight: 500;
			letter-spacing: 30px;
			bottom: -20px;
		}

	div#navPage ul li.appear {
		opacity: 1;
	}
} 

@media only screen and (max-width: 425px) {
	nav#main div.cornerWrapper {
		width: 215px;
	}
}*/