
html {
	scroll-behavior: smooth;	
}

header#hero {
	width: 100%;
	height: 50vh;
	position: relative;

	background-color: gray;
}

/*logo header height + padding = 115px*/
header#hero video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
} 

header#hero div#cover {
	width: 100%;
	height: 104%;
	background-color: rgba(0, 0, 0, 0.55);
	position: absolute;
	top: -4px;
}

header#hero div#wrapper {
	width: 100%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header#hero h1 {
	width: 77%;
	font-size: 1.75em;
	font-weight: 300;
	color: white;
	font-family: 'Avenir';
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;

	border-bottom: 2px solid white;
	padding-bottom: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header#hero a#scrollToServices {
	display: inline-block;
	position: relative;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
}








@media only screen and (min-width: 767px) {
	header#hero h1 {
		width: 25%;
	}
}







div#splash, div#quoteTwo, div#menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 60px 0;

	color: white;
	font-family: "Open Sans";
	text-align: center;
}

div#splash img {
	width: 24px;
}

div#splash p {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 0.75em;
	letter-spacing: 5px;
}

p#quote {
	font-family: "Avenir";
/*	font-weight: 500;*/
	font-size: 1.05em;
	letter-spacing: 10px;
	line-height: 52px;
	color: white;
	text-align: center;
	width: 85%;
	margin: 60px auto;
}



div#quoteTwo {
	margin: 180px 0;
}

div#quoteTwo h2 {
	font-family: "Open Sans";
	font-size: 1.5em;
	letter-spacing: 5px;
	font-weight: 500;
}

div#quoteTwo div.underline {
	width: 15%;
	border-bottom: 2px solid white;
}

div#quoteTwo p {
	width: 80%;
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 2px;
	line-height: 32px;
}









div#menu {
	font-family: "Open Sans";
}

div#menu h2#title {
	font-size: 1.5em;
	letter-spacing: 5px;
	font-weight: 500;
}

div#menu div.underline {
	width: 15%;
	border-bottom: 2px solid white;
	margin-bottom: 30px;
}

div#menu div.package {
	width: 85%;
	margin: 60px;
}

div#menu div.package div.left {}

div#menu div.package div.right {
	margin: 40px 0;
}

div#menu div.package div h3 {
	font-size: 1.25em;
	letter-spacing: 3px;
	font-weight: 500;
	text-align: left;
}

div#menu div.package div h3 span {
	display: block;
	font-size: 1.25em;
	font-weight: 700;
	text-align: left;
}

div#menu div.package div.left ul {
	margin: 10px 0;
	padding: 0 0 0 20px;
}

div#menu div.package div.left ul li {
	font-size: 1em;
	font-weight: 300;
	line-height: 28px;
	text-align: left;
	letter-spacing: 1px;
	margin: 20px 0;
}

div#menu div.package div.right ul {
	margin: 60px 0 20px;
	padding: 0;
	list-style-type: none;
}

div#menu div.package div.right ul li {
	font-size: 1.5em;
}

	div#menu div.package div.right ul li span:first-child {
		font-weight: 500;
		border-right: 2px solid white;
		padding-right: 15px;
	}

	div#menu div.package div.right ul li span:last-child {
		font-weight: 300;
		padding-left: 10px;
	}




div#menu div.package div.buttonWrapper {
	margin: 20px 0 40px;
}

div#menu div.package div.buttonWrapper button {
	font-size: 1.25em;

	padding: 12px 20px;
	background-color: rgba(109, 109, 109, 0.25);
	border: none;
	border-radius: 4px;
}